<div *ngIf="movie">
    <mat-card>
        <h1>{{movie.title}}</h1>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Movie Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>ID: {{movie.id}}</p>
            <p>Times Accessed: {{movie.timesAccessed}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Characters</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flexContent">
            <div class="flexButton" *ngFor="let character of movie.characters">
                <button mat-stroked-button routerLink="/characters/{{character.id}}">{{character.name}}</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Actors</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flexContent">
            <div class="flexButton" *ngFor="let actor of movie.actors">
                <button mat-stroked-button routerLink="/actors/{{actor.id}}">{{actor.name}}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>