<!-- <nav class="navbar navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand">MCU Test</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="movies">Movies</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="actors">Actors</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="characters">Characters</a></li>
        </ul>
    </div>
</nav> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLink="dashboard">MCU Test</a>
        <span class="spacer"></span>
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
        <a class="nav-link" routerLink="movies">Movies</a>
        <a class="nav-link" routerLink="actors">Actors</a>
        <a class="nav-link" routerLink="characters">Characters</a>
    </mat-toolbar-row>
</mat-toolbar>

<div class="toolbarStandIn"></div>

<router-outlet></router-outlet> 