mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

.toolbarStandIn{
    margin-top: 56px;
}

/*Tomasz Chudzik from https://stackoverflow.com/questions/43200545/create-a-responsive-toolbar-using-angular-material*/
.companyName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}
.mat-sidenav-content{
    font-size: 200%;

}