.flexContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexButton {
    margin: 10px;
}

.mat-card-content>:first-child, .mat-card>:first-child{
    margin-top: 10px;
}